<div class="container">
    <div class="form-container">
        <h2>Register</h2>
        <form #registrationform="ngForm" (ngSubmit)="registerUser()">
            <div class="form-group">
                <input type="text" name="name" placeholder="Name" [(ngModel)]="user.name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>
            </div>
            <div class="form-group">
                <input type="number" name="age" placeholder="Age" [(ngModel)]="user.age" required>
            </div>
            <div class="form-group">
                <input type="tel" name="mobile_number" placeholder="Mobile Number" [(ngModel)]="user.mobileNumber" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Register">
            </div>
        </form>
        <div class="form-footer">
            <p>Already have an account? <a routerLink="/login">Login Here</a></p>
        </div>
    </div>
</div>
