<body>    
    <div class="container">
        <form #loginForm="ngForm" class="loginform" (ngSubmit)="loginUser()">
            <h4>Login</h4>
            <div>
                <small>{{msg}}</small>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" autocomplete="email" placeholder="Email" required [(ngModel)]="user.email" #email="ngModel">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="user.password">
            </div>
            <button type="submit">Login</button>

            <br>
            <br>
            <div>
                <p>Don't have an account? <a routerLink="/registration">Register Here</a></p>
            </div>
        </form>
    </div>
</body>