.main-content {
  padding: 20px;
}

.user-details {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-details h2 {
  margin-bottom: 15px;
  color: #333;
}

.user-details p {
  margin-bottom: 10px;
  color: #555;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Add margin to separate from the next button */
}

.back-button:hover {
  background-color: #0056b3;
}

.list-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-button:hover {
  background-color: #218838;
  margin-left: 10px;
}

.ride-card {
  display: inline-block; 
  vertical-align: top; /* Align ride cards at the top */
  width: calc(50% - 20px); /* Set the width of each ride card */
  margin: 10px;  
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loading {
  font-style: italic;
  color: #888;
}
