<body>
     <div class="container">
        <div class="top-right-buttons">
            <button routerLink="/profile">Profile</button>
            <button id="create-ride" routerLink="/create-ride">Create Ride</button>
            <button routerLink="/ride-request">Ride Requests</button>
            <button id="add-vehicle" routerLink="/add-vehicle">Add vehicle</button>
            <button (click)="goToLogin()">Logout</button>
        </div>

        <form id="search-form" (ngSubmit)="searchRides()">
            <input type="text" id="origin" name="Origin" placeholder="Origin" [(ngModel)]="origin">
            <input type="text" id="destination" name="Destination" placeholder="Destination" [(ngModel)]="destination">
            <button type="submit">Search</button>
        </form>
        <div class="card-container">
            <h2>Available Rides</h2>
            <div class="card-grid">
                <div class="card" *ngFor="let ride of rides">
                    <div class="card-body">
                        <h3>Ride ID: {{ ride.id }}</h3>
                        <p><strong>Origin:</strong> {{ ride.origin }}</p>
                        <p><strong>Destination:</strong> {{ ride.destination }}</p>
                        <p><strong>Date:</strong> {{ ride.date }}</p>
                        <p><strong>Time:</strong> {{ ride.time }}</p>
                        <p><strong>Available Seats:</strong> {{ ride.availableSeats }}</p>
                        <p><strong>Driver:</strong> {{ ride.driverName }}</p>
                        <button *ngIf="ride.availableSeats && ride.driverID != userId" (click)="onRequestButtonClick(ride)">Give Request</button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>